<div class="container">
  <div class="row mt-4">
    <div class="col-md-12 d-flex justify-content-center">
      <b style="font-size: 70px;">About</b>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-md-12 d-flex justify-content-center">
      <div style="font-size: 20px;"><b>ながのCAKEは全国発送可能なケーキ屋さんです。</b></div>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <div style="font-size: 20px;"><b>お子様からお年寄りの方までお召し上がりいただけるよう、</b></div>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <div style="font-size: 20px;"><b>様々なバリエーションをご用意しております。</b></div>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <div style="font-size: 20px;"><b>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</b></div>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <div style="font-size: 20px;"><b>ぜひご注文ください。</b></div>
    </div>
  </div>

  <div class="row my-4 d-flex justify-content-center">
    <i class="fas fa-birthday-cake fa-9x"></i>
  </div>


</div>
