<h1>注文情報確認</h1>

<table>
  <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
  </tr>
  <%# @order.order_products.each do |order_product| %>
  <tr>
    <td><%#= order_product.product.name %></td>
    <td><%#= order_product.product.price.add_tax_price %></td>
    <td><%#= order_product.amount %></td>
    <td><%#= order_product.小計？？？？？？？？？？？？？？？？ %></td>
  </tr>
  <%# end %>
</table>
<br>
<table>
  <tr>
    <th>送料</th>
    <td><%#= @order.shipping_cost %></td>
  </tr>
  <tr>
    <th>商品合計</th>
    <td><%#= ？？？？？？？？？？？？？？ %></td>
  </tr>
  <tr>
    <th>請求金額</th>
    <th><%#= @order.final_price %></th>
  </tr>
</table>
<br>
<table>
  <tr>
    <th>支払方法</th>
    <td><%= @order.payment_method_i18n %></td>
  </tr>
  <tr>
    <th>お届け先</th>
    <td>〒<%#= @order.postal_code %><%= " " %><%#= @order.address %><%= " " %><%#= @order.postal_name %></td>
  </tr>
</table>